.form-title {
	color: #2665c4;
	font-size: 18px;
	text-align: left;
	padding-left: 30px;
}

.logininput {
	border-top: 0px;
	border-right: 0px;
	border-left: 0.5px solid #2665c4;
	border-bottom: 0.5px solid #2665c4;
	border-radius: 5px;
	padding: 8px;
	width: 200px;
}

.select {
	border: 0.5px solid #2665c4;
	border-radius: 5px;
	padding: 8px;
	width: 100%;
}

.select-option {
	text-transform: capitalize;
}

.button {
	border: 0.5px solid #2665c4;
	border-radius: 5px;
	padding: 8px;
	width: auto;
	margin: 10px;
}

.readonlytextinput {
	border-top: 0px;
	border-right: 0px;
	border-left: 0.5px solid #2665c4;
	border-bottom: 0.5px solid #2665c4;
	border-radius: 5px;
	padding: 10px;
	background-color: #aeaeae80;
}

.input-container {
	display: block;
	margin: 15px;
	padding: 0px;
}

.label {
	color: #2665c4;
	position: absolute;
	margin-top: -15px;
	margin-left: 10px;
	font-size: 12px;
}

.input-error {
	color: red;
	font-size: 10px;
	margin-left: 20px;
	/* margin-top: 60px; */
	position: absolute;
}

#user-notify {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: row2-end;
	margin: 12px;
}

.error-msg {
	color: red;
}

.success-msg {
	color: #2665c4;
}

.submit {
	margin: 0px;
	padding: 3px 18px 3px 18px;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	border-color: #2665c4;
	border-style: solid;
	border-width: 2px;
}

.button-div {
	margin-left: 12px;
	margin-top: 20px;
}

.text {
	color: #2665c4;
	font-size: 12px;
}