@media screen and (min-width: 701px) {
  #home-container {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: .5fr 1fr 1fr;
    grid-gap: 10px;
  }

  #sign-in {
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
  }

  #workout-options {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  #overall-recent {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #this-workout-recent {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  #workout-data {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 700px) {
  #home-container {
    display: grid;
    grid-template-rows: 25px 37px 200px auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 90%;
    margin: auto 0;
  }

  #user,
  #sign-in {
    grid-template-rows: 1 / 2;
  }

  #workout-options {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  #this-workout-recent {
    grid-row: 3 / 4;
    overflow: scroll;
  }

  #workout-data {
    grid-row: 4 / 5;
    margin-left: 5px;
    ;
  }

}